<%- include('./partials/boilerplateHead') %>
<title>Show All Players</title>
</head>
<body>
    <h1>Roster-Roll</h1>
    <p>Lite</p>
<div>
    <h2><%= message %></h2>
</div>

<a href="/players">View Players</a>

<a href="/games">View Games</a>

<%- include('./partials/boilerplateFoot') %>
