<%- include('./partials/boilerplateHead') %>
<title>Show All Players</title>
</head>
<body>
    <section class="hero is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Roster-Roll</h1>
                <p class="subtitle">Lite</p>
            </div>
        </div>
    </section>
<div>
    <h2><%= message %></h2>
</div>

<a href="/players"><button class="button">View Players</button></a>

<a href="/games"><button class="button">View Games</button></a>

<%- include('./partials/boilerplateFoot') %>
